/* Estilo para el campo de entrada */
input {
    width: 500px;
    height: 40px;
    font-size: 18px;
  }
  
  /* Estilo para la lista de productos */
  #lista-de-productos {
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se ajusten en varias filas */
    justify-content: flex-start; /* Alinea los productos al inicio */
  }
  
  /* Estilo para cada producto en la lista */
  .producto {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo para las imágenes de los productos */
  .producto img {
    width: 70%;  /* Limita el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  